body{
    background-color: beige;
}

#container{
    width: 98% ;
    background-color: red;


}



.left ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: grey;
}

.left li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.left li a:hover {
    background-color: black;
    color: red;
}

.right{
    float: right;
    width: 70%;
    margin-right: 2%;

}

.left{
    float: left;
    width: 20%;
    margin-left: 2%;

}

.html{
    float: right;
}

.css{
    float: left;
}

.jquery{
    float: right;
}